body {
  font-family: Arial, sans-serif;
  background-color: #f4f4f4;
  margin: 0;
  padding: 0;
  text-align: center;
}

h1 {
  color: #333;
  margin-top: 20px;
  font-size: 3rem;
}

div {
  max-width: 1400px;
  height: 100vh;
  margin: auto;
  padding: 20px;
  background: white;
  border-radius: 10px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

@media (max-width: 768px) {
  div {
    padding: 10px;
  }
}
